<!doctype html>
<title>okrss</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <a href="refresh" class="btn">🗘 refresh</a>
  <a href="addfeed" class="btn">+ add feed</a>
  <a href="settings" class="btn">☰ settings</a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>